.footer, .footer_abs {
  background: #000;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;

  & a {
    color: white;
    font-weight: 700;
  }
}

.footer_abs {
  position: absolute;
  bottom: 0;
  width: 100%;
}